body {
    display: flex;
    justify-content: center;
}

#flag {
    width: 950px;
    border: 1px solid black;
}

img {
    height: 300px;
}

.top-half {
    display: flex;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

#table1 {
    width: 900px;
}

#table2 {
    width: 950px;
}

.bottom-half td {
    height: 38px;
}

table {
    border-collapse: collapse;
}